
* {
    margin: 0;
    padding: 0;
    font-family: verdana,Arial, Helvetica, sans-serif;
}
.page-container {
    display: block;
    min-height: 100%;
    position: relative;
    width: 980px;
    margin:0 auto
    
}
.banner {
    background-color: rgb(255, 255, 255);
    border: 1px hidden rgb(204, 204, 204);
    height: 25px;
    padding: 10px;
    margin: 10px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 16px;
    text-align: center;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-container {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
    margin: 20px;
    margin-bottom: 25px;
    padding: 8px;
}
#reddit-logo {
    max-width: 4%;
    height: auto;
    padding: 5px;
    margin-top: 5px;
}
.search-bar {
    color: rgb(190, 190, 190);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    margin: 10px;
    margin-bottom: 4px;
    padding: 5px;
    flex-grow: 2;
}
#search-title {
    color: rgba(28, 28, 28, 0.902);
    font-weight: 500;
    font-size: 29.33px;
}
.search-button {
    max-width: 4%;
    height: auto;
    padding: 5px;
    margin-top: 5px;
    background-image: none !important;
    opacity: .6;
}
.sort-thread-container {
    display: flex;
    align-items: center;
}
.sort-container {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
    margin: 20px;
    margin-bottom: 16px;
    padding: 8px;
    padding-left: 14px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
}
.sort-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 40px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50px;
    background-color: rgb(246, 247, 248);
}
#sort-buttons-text{
    padding: 5px;
    font-size: small;
    font-weight: 700;
    color: rgb(55, 120, 204);
}
.flame-icon{
    max-width: 45%;
    height: auto;
    background-image: none !important;
}
.rocket-icon {
    max-width: 40%;
    height: auto;
    background-image: none !important;
}
.new-icon {
    max-width: 63%;
    height: auto;
    background-image: none !important;
}
.top-icon {
    max-width: 70%;
    height: auto;
    background-image: none !important;
}
.threads-container {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
    padding: 10px 12px;
    margin: 20px;
    flex-grow: 4;
}