* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: verdana, Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(218, 224, 230);
}
.search-container {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#header-title {
    padding: 5px;

}
#search-bar-icons {
    max-width: 35px;
    height: 35px;
    padding: 5px;
    margin: 5px;
    align-items: center;
}
#search-bar {
    color: rgb(190, 190, 190);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 1.25em;
    margin: 10px;
    padding: 7px;
    height: 20px;
    width: 250px;
    overflow: hidden;
}
.sort-dropdown {
    padding: 5px;
    font-size: medium;
}

.page-contents {
    margin: 20px;
    margin-top: 50px;
    padding: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    display: block;
}
.subreddits-container {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
    padding: 15px 20px;
    margin: 5px;
    display: block;
}

.thread-sizing {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
#thread-cateogry {
    padding-bottom: 3px;
}
@media screen and (min-width: 0px) and (max-width: 359px) {
    #search-bar-icons {
        display: none;
    }
    #header-title {
        display: none;
    }
    .page-contents {
        display: block;
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0px;
        margin-top: 70px;
    }
    .subreddits-container {
        background-color: rgb(255, 255, 255);
        border-top: 1px solid rgb(204, 204, 204);
        border-bottom: 1px solid rgb(204, 204, 204);
        border-left: 0px;
        border-right: 0px;
        padding: 3px;
        margin: 0px;
        margin-bottom: 1px;
        margin-top: 1px;
    }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
    #header-title {
        display: none
    }
    #search-bar {
        margin: 0px;
    }
    .page-contents {
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0px;
        margin-top: 70px;
    }
    .subreddits-container {
        border-top: 1px solid rgb(204, 204, 204);
        border-bottom: 1px solid rgb(204, 204, 204);
        border-left: 0px;
        border-right: 0px;
        padding: 7px;
        margin: 0px;
        margin-bottom: 1px;
        margin-top: 1px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .page-contents {
        padding-left: 10px;
        padding-right: 10px;
    }
    .subreddits-container {
        margin-bottom: 10px;
        margin-top: 0px
    }
}